@import '../../styles/variables';
@import '../../styles/mixins';

.adminLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.mainContent {
  flex-grow: 1;
  transition: margin-left 0.3s ease; 
  overflow-y: auto;

  @include responsive-desktop {
    margin-left: 220px; 
  }
}



.loading,
.error {
  @include flex-center;
  height: 100vh;
  font-size: $font-size-large;
}

.loading {
  color: $primary-color;
}

.error {
  color: $error-color;
}
