/* layout.module.scss */
@import '@/styles/variables';

.root {
  --font-rubik: 'Rubik', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  font-family: var(--font-rubik);
  direction: rtl;
  flex: 1;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.5rem;

}
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}